<nav class="w-full h-[60px] bg-gray-300 flex items-center justify-between">
  <div class="ml-5">
    <img
      src="../../assets/logo.png"
      target="_blank"
      alt="logo"
      class="w-[50px]"
    />
  </div>

  <div class="flex h-full">
    <button
      *ngFor="let item of navbarItems"
      class="h-full px-3 py-1 font-medium text-black cursor-pointer md:px-4 md:py-2 w-max hover:bg-orange-600 hover:text-white"
      routerLink="{{ item.path }}"
    >
      {{ item.title }}
    </button>
  </div>

  <div
    *ngIf="isLoggedIn; else notLoggedIn"
    class="flex items-center mr-5 space-x-5"
  >
    <button
      (click)="logout()"
      class="h-full px-4 py-2 text-white bg-orange-500 rounded-full w-max hover:bg-orange-600 hover:text-white"
    >
      Logout
    </button>
  </div>

  <ng-template #notLoggedIn>
    <div
      *ngIf="innerWidth > 391; else mobileAuthMenu"
      class="flex items-center mr-2 space-x-2 text-sm md:mr-5 md:space-x-5 md:text-md"
    >
      <button
        routerLink="/login"
        class="h-full px-4 py-2 text-white bg-orange-500 rounded-full w-max hover:bg-orange-600 hover:text-white"
      >
        Login
      </button>
      <button
        class="h-full px-4 py-2 text-white bg-orange-500 rounded-full w-max hover:bg-orange-600 hover:text-white"
      >
        Register
      </button>
    </div>
    <ng-template #mobileAuthMenu>
      <div class="mr-4">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          xPosition="before"
          class="h-full px-4 py-2 text-white bg-orange-500 rounded-full w-max hover:bg-orange-600 hover:text-white"
        >
          Profile
        </button>
        <mat-menu class="bg-gray-900" #menu="matMenu">
          <button mat-menu-item routerLink="/login">Login</button>
          <button mat-menu-item>Register</button>
        </mat-menu>
      </div>
    </ng-template>
  </ng-template>
</nav>
