<form
  (ngSubmit)="handleSubmit(loginForm.value)"
  [formGroup]="loginForm"
  class="flex relative flex-col items-center md:w-[600px] w-full md:h-[400px] h-[450px]"
>
  <div
    class="flex flex-col items-center justify-center w-4/5 my-auto space-y-3"
  >
    <div class="flex w-full items-center justify-center h-[100px]">
      <div class="flex flex-col w-full h-[150px]">
        <label class="text-2xl">Email</label>
        <div class="flex w-full">
          <input
            class="rounded-md h-[50px] w-10/12 bg-orange-200/40 p-4"
            ngModel
            email
            formControlName="email"
            type="email"
            placeholder="Enter your email"
          />
          <div
            class="flex items-center justify-center p-1 ml-2 rounded-full h-[40px] w-2/12"
            *ngIf="!email?.invalid && email?.touched"
          >
            <mat-icon class="text-green-600"> check </mat-icon>
          </div>
        </div>
        <span class="my-2 text-red-600" *ngIf="email?.invalid && email?.touched"
          >Please enter a valid email
        </span>
      </div>
    </div>

    <div class="flex w-full justify-center h-[100px]">
      <div class="flex flex-col w-full">
        <label class="text-2xl">Password</label>
        <div class="flex items-start w-full">
          <input
            class="rounded-md h-[50px] px-4 md:w-10/12 w-10/12 bg-orange-200/40"
            ngModel
            formControlName="password"
            type="password"
            placeholder="Enter your password"
          />
          <div
            class="flex items-center justify-center ml-2 rounded-full h-[40px] w-2/12"
            *ngIf="!password?.invalid && password?.touched"
          >
            <mat-icon class="text-green-600"> check </mat-icon>
          </div>
        </div>
        <div
          class="my-2 text-red-600"
          *ngIf="password?.errors?.['minlength']; else lengthError"
        >
          *Password must be at least 6 characters long.
        </div>
        <ng-template #lengthError>
          <div class="my-2 text-red-600">
            <ng-container *ngIf="password?.invalid && password?.touched">
              Password is required!
            </ng-container>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <button
    class="absolute px-4 py-2 my-2 bg-orange-500 rounded-full text- md:bottom-0 bottom-5 hover:bg-orange-400 active:bg-orange-600 disabled:bg-orange-200"
    ngModule
    type="submit"
    [disabled]="!loginForm.valid"
  >
    Login
  </button>
</form>
