<div
  *ngIf="data.id; else addTodoModal"
  class="relative flex flex-col items-center w-full h-[480px] p-2 bg-white rounded-md shadow"
>
  <div
    style="background-image: url('../../assets/taskmodalart.png')"
    class="w-full h-full md:bg-left-bottom bg-center bg-opacity-0 md:bg-[length:500px] bg-[length:250px] bg-no-repeat flex flex-col items-center"
  >
    <div class="flex items-center justify-center w-4/6 my-6 md:w-full">
      <h1 mat-dialog-title class="font-semibold text-orange-600">
        {{ data.title | titlecase }}
      </h1>
    </div>
    <div class="flex items-center justify-center w-2/3 md:w-1/3">
      <div class="flex flex-col w-full">
        <div
          class="flex self-center justify-between w-full p-2 text-sm text-gray-700 h-fit"
        >
          <h1>Created at:</h1>
          <h1 *ngIf="data?.createdAt">{{ data.createdAt | date }}</h1>
        </div>
        <div
          class="flex items-center self-center justify-between w-full h-10 p-2 text-sm text-gray-700"
        >
          <h1>Status</h1>
          <div *ngIf="data.completed; else notCompleted" mat-dialog-content>
            <!-- class="flex items-center justify-center p-1 bg-green-600 border-2 rounded-md w-fit border-green-600/50" -->

            <div
              class="flex flex-col items-center justify-center p-1 bg-green-600 border-2 rounded-md border-green-600/50"
            >
              <h1 class="m-0 text-[12px] text-white text-center">Completed</h1>
            </div>
            <!-- <h1 class="text-[12px] m-0 text-center">Completed!</h1> -->
          </div>
          <ng-template class="" #notCompleted>
            <div
              class="flex flex-col items-center justify-center p-1 bg-orange-500 border-2 rounded-md border-orange-600/50"
            >
              <h1 class="m-0 text-[12px] text-center text-white">Incomplete</h1>
            </div>
          </ng-template>
        </div>
        <div
          *ngIf="data.new"
          class="flex items-center justify-center text-orange-600 bg-orange-300 rounded-full py-[3px] px-[8px]"
        >
          <h1 class="font-mono text-sm">NEW TODO</h1>
        </div>
      </div>
    </div>

    <!-- TODO BODY -->

    <div
      *ngIf="data.content"
      class="flex flex-col w-full p-4 h-[220px] mt-2 mb-8"
    >
      <!-- <h1 class="my-2 text-xl text-gray-500">To-do Body</h1> -->
      <div class="w-full h-full p-4 rounded shadow-inner bg-gray-500/10">
        <p class="text-gray-800 text-md">{{ data.content }}</p>
      </div>
    </div>

    <!-- DIALOG BUTTONS -->
    <div
      class="absolute flex justify-center w-full space-x-8 md:w-2/4 bottom-4"
    >
      <button
        class="px-4 py-2 text-orange-600 bg-orange-100 border border-orange-500 rounded-full hover:bg-orange-400 focus-visible:outline-none"
      >
        Edit
      </button>
      <button
        *ngIf="!data.completed; else setIncomplete"
        (click)="toggleTodoStatus(data)"
        class="px-4 py-2 text-white bg-green-500 rounded-full hover:bg-green-700 focus-visible:outline-none"
      >
        Set Done
      </button>
      <ng-template #setIncomplete>
        <button
          (click)="toggleTodoStatus(data)"
          class="px-4 py-2 text-sm text-white bg-orange-500 rounded-full hover:bg-orange-700 focus-visible:outline-none"
        >
          Set Incomplete
        </button>
      </ng-template>
      <button
        (click)="closeDialog()"
        class="px-4 py-2 text-white bg-red-500 rounded-full hover:bg-red-700 focus-visible:outline-none"
      >
        Close
      </button>
    </div>
  </div>
</div>

<ng-template #addTodoModal>
  <div class="flex flex-col items-center w-full h-full">
    <app-add-todo></app-add-todo>
  </div>
</ng-template>
