/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  padding: 0px !important;

  background: rgb(229 231 235);
}

.mat-dialog-title {
  @apply text-2xl md:text-3xl;
  margin: 0 !important;
  font: "Roboto", "Helvetica Neue", sans-serif !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.success-toast {
  @apply text-white bg-green-600;
}

.failure-toast {
  @apply text-white bg-red-600;
}
