<div class="flex flex-col w-full">
  <div
    class="flex w-full bg-gray-700 h-[200px] md:h-[240px] shadow shadow-black"
  >
    <div
      style="background-image: url('../assets/welcomeart.png')"
      class="flex flex-col md:mr-28 items-center w-full h-full bg-opacity-0 md:bg-[length:500px] bg-[length:200px] bg-no-repeat bg-right-bottom"
    >
      <div class="flex justify-between w-full h-full md:flex-row">
        <div
          class="flex flex-col items-start justify-start w-full p-3 space-x-2 md:justify-end md:ml-10 md:h-full md:items-baseline md:w-1/2 md:flex-col"
        >
          <h1
            *ngIf="isLoggedIn; else notLoggedInTitle"
            class="text-2xl font-semibold text-gray-100 md:text-4xl"
          >
            Welcome back,
          </h1>
          <ng-template #notLoggedInTitle>
            <h1 class="text-2xl font-semibold text-gray-100 md:text-5xl">
              Welcome!
            </h1>
          </ng-template>
          <h1
            *ngIf="userDetails"
            class="text-2xl font-semibold text-orange-400 md:text-6xl"
          >
            {{ userDetails.name }}
          </h1>
          <h1
            *ngIf="!userDetails; else loggedInText"
            class="max-w-xs text-sm text-gray-300 md:max-w-md md:text-2xl"
          >
            Our app offers you a neat and comofy way of organizing your to-do's
            during your day-to-day
          </h1>
          <ng-template #loggedInText>
            <h1 class="w-full text-xl text-gray-300 md:mt-4">
              Happy to see you again, jump in to your to-do's - We believe in
              you!
            </h1>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="isLoggedIn; else notLoggedInHomeContent"
    class="w-full md:h-[450px] h-full items-center md:items-center flex md:flex-row flex-col justify-evenly"
  >
    <div
      *ngFor="let widget of widgets"
      class="flex flex-col w-2/3 gap-2 m-2 bg-gray-300 rounded shadow-md h-60 md:w-60 md:h-80 shadow-black md:items-center"
    >
      <div class="flex items-center justify-center w-full h-1/3">
        <h1 class="text-2xl font-semibold text-center">{{ widget.title }}</h1>
      </div>
      <div
        class="flex justify-center w-full p-2 text-6xl font-semibold {{
          widget.type !== 'total'
            ? widget.type === 'waiting'
              ? 'text-orange-600'
              : 'text-green-500'
            : 'text-blue-600'
        }} text-blue-600 h-fit"
      >
        {{ widget.dataSource }}
      </div>
      <div
        class="flex flex-col items-center justify-center w-full  {{
          widget.type !== 'total'
            ? widget.type === 'waiting'
              ? 'text-orange-100'
              : 'text-green-100'
            : 'text-blue-100 '
        }} {{
          widget.type !== 'total'
            ? widget.type === 'waiting'
              ? 'bg-orange-600'
              : 'bg-green-600'
            : 'bg-blue-600'
        }}  h-fit"
      >
        <div class="flex items-center justify-center w-full h-full p-4">
          <h1
            class="w-full font-medium text-center align-middle text-md md:text-md"
          >
            {{ widget.banner }}
          </h1>
        </div>
      </div>
      <ng-template #waiting>
        <div
          *ngIf="widget.type === 'waiting'; else completed"
          class="flex items-center justify-center w-full text-orange-300 bg-orange-600"
        >
          <div class="flex items-center justify-center w-full h-full p-4">
            <h1
              class="w-full font-medium text-center align-middle text-md md:text-md"
            >
              {{ widget.banner }}
            </h1>
          </div>
        </div>
        <ng-template #completed>
          <div
            class="flex items-center justify-center w-full text-green-300 bg-green-600"
          >
            <div class="flex items-center justify-center w-full h-full p-4">
              <h1
                class="w-full font-medium text-center align-middle text-md md:text-md"
              >
                {{ widget.banner }}
              </h1>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="relative flex flex-col w-full py-4">
    <div class="w-full">
      <h1 class="absolute top-0 text-3xl font-medium text-amber-600 px-52">
        Tell us more about you!
      </h1>
    </div>
    <div class="flex flex-col w-full py-5 bg-gray-600 shadow-md">
      <h1 class="px-56 text-2xl text-gray-200 font-extralight">
        What is the nature of your tasks using this app?
      </h1>
      <div class="flex flex-wrap self-center w-2/3 gap-5 my-5">
        <button
          *ngFor="let interest of interests"
          class="flex h-[50px] bg-gray-300 rounded-full items-center justify-center text-center p-4 hover:bg-gray-400 active:bg-orange-500 active:text-white shadow-md"
        >
          {{ interest }}
        </button>
      </div>
    </div>
  </div>
  <ng-template #notLoggedInHomeContent>
    <div class="flex w-full h-[250px] mt-10 justify-evenly">
      <h1 class="text-3xl text-gray-300">
        To continute, please
        <a
          class="text-orange-500 cursor-pointer hover:text-orange-700"
          [routerLink]="['/login']"
          >login</a
        >
      </h1>
    </div>
  </ng-template>
</div>
