<div class="flex flex-col w-full h-full">
  <div
    class="flex w-full bg-gray-700 h-[200px] md:h-[280px] shadow shadow-black"
  >
    <div
      style="background-image: url('../assets/welcomeart.png')"
      class="flex flex-col md:mr-28 items-center w-full bg-opacity-0 md:bg-[length:500px] bg-[length:250px] bg-no-repeat bg-right-bottom"
    >
      <div class="flex justify-between w-full h-full md:flex-row">
        <div
          class="flex flex-col items-start justify-start w-full p-3 space-x-2 md:justify-end md:ml-10 md:h-full md:items-baseline md:w-1/2 md:flex-col"
        >
          <h1
            *ngIf="isLoggedIn; else notLoggedInTitle"
            class="text-2xl font-semibold text-gray-100 md:text-4xl"
          >
            Welcome back,
          </h1>
          <ng-template #notLoggedInTitle>
            <h1 class="text-2xl font-semibold text-gray-100 md:text-5xl">
              Welcome!
            </h1>
          </ng-template>
          <h1
            *ngIf="userDetails"
            class="text-2xl font-semibold text-orange-400 md:text-6xl"
          >
            {{ userDetails.name }}
          </h1>
          <h1
            *ngIf="!userDetails; else loggedInText"
            class="max-w-xs text-sm text-gray-300 md:max-w-md md:text-2xl"
          >
            Our app offers you a neat and comofy way of organizing your to-do's
            during your day-to-day
          </h1>
          <ng-template #loggedInText>
            <h1 class="w-1/2 text-xl text-gray-300 md:mt-4">
              Happy to see you again, jump in to your to-do's - We believe in
              you!
            </h1>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="isLoggedIn; else notLoggedInHomeContent"
    class="w-full md:h-[250px] h-full items-center md:items-baseline flex md:flex-row flex-col justify-evenly mt-10"
  >
    <div
      class="flex flex-col w-2/3 m-2 bg-gray-300 rounded shadow-md h-60 md:w-60 md:h-80 shadow-black md:items-center"
    >
      <div class="flex items-center justify-center w-full p-4 h-1/2">
        <h1 class="text-4xl font-semibold text-center">Total To-do's</h1>
      </div>
      <div
        class="flex justify-center w-full p-2 text-6xl font-semibold text-blue-600 h-fit"
      >
        {{ userTodos.length }}
      </div>
      <div
        class="flex flex-col items-center justify-center w-full text-blue-300 bg-blue-600 h-fit md:mt-4 rounded-b-md"
      >
        <div class="flex items-center justify-center w-full h-full p-2">
          <h1
            class="p-1 font-medium text-center align-middle text-md md:text-xl"
          >
            “Be the change that you wish to see in the world.” <br />
            Mahatma Gandhi
          </h1>
        </div>

        <!-- <ng-template #keepItUp>
          <h1 class="w-full h-full text-xl font-medium text-center md:text-2xl">
            Keep it up!!
          </h1>
        </ng-template> -->
      </div>
    </div>
    <!-- <div
      class="flex flex-col w-2/3 m-2 bg-gray-300 rounded shadow-md md:w-60 md:h-80 shadow-black md:items-center"
    >
      <div class="flex items-center w-full p-4 md:p-2 md:justify-center h-1/2">
        <h1 class="text-2xl font-medium text-center">
          Number of waiting To-do's
        </h1>
      </div>
      <div
        class="flex justify-center w-full p-2 text-6xl font-semibold text-orange-600 h-fit"
      >
        {{ userWaitingTodos.length }}
      </div>
      <div
        class="flex flex-col items-center justify-center w-full text-orange-300 bg-orange-600 h-fit md:mt-4 rounded-b-md"
      >
        <div class="flex items-center justify-center w-full h-full p-2">
          <h1
            class="p-4 font-medium text-center align-middle text-md md:text-2xl"
            *ngIf="userWaitingTodos.length <= 5; else chopchop"
          >
            Good job, Almost done!
          </h1>
        </div>
        <ng-template #chopchop>
          <div class="flex items-center justify-center w-full h-full md:w-5/6">
            <h1
              class="p-4 text-xl font-medium text-center md:p-1 md:text-xl h-fit"
            >
              Chop chop, alot of work to be done!
            </h1>
           <h1>Hellasfasfasda sdfasfasd sdsdfasdfasdfadfasdfo</h1> 
          </div>
        </ng-template>

        <!-- <ng-template #keepItUp>
          <h1 class="w-full h-full text-xl font-medium text-center md:text-2xl">
            Keep it up!!
          </h1>
        </ng-template> 
      </div>
    </div> -->

    <div
      class="flex flex-col w-2/3 m-2 bg-gray-300 rounded shadow-md h-60 md:w-60 md:h-80 shadow-black md:items-center"
    >
      <div
        class="flex items-center w-full p-4 md:w-2/3 md:p-2 md:justify-center h-1/2"
      >
        <h1 class="text-2xl font-medium text-center">
          Number of waiting To-do's
        </h1>
      </div>
      <div
        class="flex justify-center w-full p-2 text-6xl font-semibold text-orange-600"
      >
        {{ userWaitingTodos.length }}
      </div>
      <div
        class="flex items-center justify-center w-full text-orange-300 bg-orange-600"
      >
        <h1
          class="p-4 text-xl font-medium text-center md:text-2xl h-max"
          *ngIf="userWaitingTodos.length <= 5; else keepItUp"
        >
          Good job!!
        </h1>
        <ng-template #keepItUp>
          <h1 class="p-4 text-xl font-medium text-center md:text-2xl h-max">
            Keep it up!!
          </h1>
        </ng-template>
      </div>
    </div>

    <div
      class="flex flex-col w-2/3 m-2 bg-gray-300 rounded shadow-md h-60 md:w-60 md:h-80 shadow-black md:items-center"
    >
      <div
        class="flex items-center w-full p-4 md:w-2/3 md:p-2 md:justify-center h-1/2"
      >
        <h1 class="text-2xl font-medium text-center">
          Number of completed To-do's
        </h1>
      </div>
      <div
        class="flex justify-center w-full p-2 text-6xl font-semibold text-green-600"
      >
        {{ userCompletedTodos.length }}
      </div>
      <div
        class="flex items-center justify-center w-full text-green-300 bg-green-600"
      >
        <h1
          class="p-4 text-xl font-medium text-center md:text-2xl h-fit"
          *ngIf="userCompletedTodos.length > 5; else keepItUp"
        >
          Wow! Impressive!
        </h1>
        <ng-template #keepItUp>
          <h1 class="text-2xl font-medium">Keep it up!!</h1>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template #notLoggedInHomeContent>
    <div class="w-full h-[250px] flex justify-evenly mt-10">
      <h1 class="text-3xl text-gray-300">
        To continute, please
        <a
          class="text-orange-500 cursor-pointer hover:text-orange-700"
          [routerLink]="['/login']"
          >login</a
        >
      </h1>
    </div>
  </ng-template>
</div>
